.experience-gallery{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
  gap:20px;
  margin-top:30px;
}

.experience-gallery img{
  width:100%;
  border-radius:12px;
  box-shadow:0 6px 14px rgba(0,0,0,0.2);
  transition:transform 0.3s;
}

.experience-gallery img:hover{
  transform:scale(1.05);
}



.ramen-hero img{
  width:100%;
  max-height:420px;
  object-fit:cover;
  border-radius:12px;
  margin-top:20px;
}

.ramen-content {
   display: flex;
  gap: 40px;
  margin-top: 40px;
  justify-content: flex-start; /* 自由に配置 */
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative; 
}

.ramen-text {
  flex: 0 0 70%;          /* 文章の幅55% */
  font-size:1.4vw;
  line-height: 1.3;
  white-space: nowrap; /* 改行させない */
  margin-left: 800px;    /* 左右の位置を自由に調整 */
}

.ramen-text p{
 font-size: clamp(20px, 2.5vw, 60px);
  line-height: 1.3;
  margin-bottom: 20px; 
}


.ramen-slider {
  position: absolute;
  top: 80px;   /* 上からの位置 */
  left: 3000px;   /* 左からの位置を自由に */
  width: 1200px; /* 幅 *          /* 写真の幅も自由に決める */
  
}
.slide-image{
  width:100%;
  border-radius:12px;
  box-shadow:0 6px 14px rgba(0,0,0,0.2);

  animation:fadeSlide 0.8s ease;
}

@keyframes fadeSlide{

  from{
    opacity:0;
    transform:translateX(30px);
  }

  to{
    opacity:1;
    transform:translateX(0);
  }

}

/* ドット */

.slider-dots{
  display:flex;
  justify-content:center;
  gap:25px;
  margin-top:10px;
}

.dot{
  width:20px;
  height:20px;
  border-radius:50%;
  background:#bbb;
  cursor:pointer;
}

.dot.active{
  background:#000;
}


@media (max-width: 900px) {
  .ramen-content {
    flex-direction: column;
  }
  .ramen-text,
  .ramen-slider {
    flex: 1 1 100%;
  }
}

/* マウスを乗せた時 */
.basket-hero img:hover {
  transform: scale(1.8);   /* 拡大 */
  object-fit: contain;     /* 全体表示 */
}

.basket-hero{
  overflow: hidden; /* 拡大してもはみ出さない */
}


.basket-hero img {
  width: 100%;       /* 幅いっぱい表示 */
  max-height: 500px; /* 高さ制限 */
  object-fit: cover; /* 画像切り抜きを自然に */
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  margin-top: 40px;
    transition: transform 0.4s ease, object-fit 0.4s ease;

}
.basket-content {
  display: flex;          /* 横並びにする */
  gap: 40px;              /* 文章とスライドの間隔 */
  align-items: flex-start; /* 上揃え */
  flex-wrap: nowrap;       /* 横並びを固定 */
  margin-top: 40px;
}

.basket-text {
  flex: 0 0 70%;          /* 文章の幅55% */
  font-size:1.4vw;
  line-height: 1.3;
  white-space: nowrap; /* 改行させない */
  margin-left: 800px; 
}

.basket-text p {
  font-size: clamp(20px, 2.5vw, 60px);
  line-height: 1.3;
  margin-bottom: 20px;
}

.basket-slider {
  position: absolute;
  top: 80px;   /* 上からの位置 */
  left: 3000px;   /* 左からの位置を自由に */
  width: 1200px; 
}

/* スマホ対応 */
@media (max-width: 900px) {
  .basket-content {
    flex-direction: column; /* 縦並びに変更 */
  }

  .basket-text,
  .basket-slider {
    flex: 1 1 100%;         /* 幅100% */
  }

  .slide-image {
    height: 250px;          /* スライド画像の高さ */
  }
}

/* バスケGIF */

.basket-gif{
  position:absolute;
  right:2200px;
  bottom:-290px;
}

.basket-gif img{
  width:300px;   /* GIFの大きさ */
  height:auto;
}

.basket-content{
  position:relative;
}
